PORT=50055
NODE_ENV=development

REDIS_URL=rediss://default:gQAAAAAAAcxBAAIgcDI4MGJkZDVmNGIzMzc0ZmE2YjI3Mjg0MjNkNGQ2MWYyZA@poetic-ox-117825.upstash.io:6379

JWT_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFuOEVWN1VoNjhMVzNpZ2hvc1k4UQpWTEUwNUxybkhmejYzNldyNm5vS1ArcFZTVXpvRmQwbVBlbC9FdnpFQ2IwTTFIbnZpTGVRWEc0S29JUnFsS3VuClhWOXJhYktyejdGbkMyUTdqRUsvNytHdnJWMDBkM1kwMTkyUzJvQlpURXVuMnI5NUorQ0ZpUHFYQTdrc2thU3kKWm9sZUNYcGovb2ZBM21tbnR1T1V5TEo4Q1I5SUc3OWJvdzFoakpibG5hUVJMeURMd0ZvdC95emR2ZEVzRjUzRAoyN2k4RU5meE5YT1RpYzVsMTNqMmVXcnZoeldKUVd6cjBlZVZzeUgzSEs2OWFrUm43cFpKb21XWENsbG1NNEhwCmwwRVFDT3ZCWmFvNnZhYkQ5c0dpWjlhK3doZFNzMjhvWFBoQk0rOWZHSURYd0I1TWV6VllZeDdQNWE5eDE5VGQKaXdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
