PORT=50054
NODE_ENV=development
REDIS_URL=redis://localhost:6380

KAFKA_BROKERS=
KAFKA_CA=
KAFKA_USERNAME=
KAFKA_PASSWORD=

CLICKHOUSE_ADDR=localhost:9000
CLICKHOUSE_DATABASE=nerve
CLICKHOUSE_USER=nerve
CLICKHOUSE_PASSWORD=nerve